.dashboard {
    width: 100%;
    height: 100vh;
    
  }
  

  .dashboard-header {
    position: relative;
    width: 100%;
    height: 40%;
    background-image:url("../images/USChome.jpg");
    background-color: grey;
    background-blend-mode: multiply;
    
    background-size: cover;
    background-position: center;

  }
  
  .childDivHeader{
    position: absolute;
    top: 50%;
    left: 5%;
    
  }
  .childDivHeader h1{
    font-family: "Monsteratt", sans-serif;
    font-size: 40px;
    color: rgba(229, 227, 227,277);
  }
  

  .dashboard-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .widget {
    padding: 20px;
    text-align: center;
    background-color: #d9d9d9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

 .image-container{
  height: auto;
  width: auto;
 }
.widget:hover {
  background-color: gray;
}