.layout {
  display: grid;
}

.navbar {
  background-color: #24272C;
}

/* Insert Equipment Page */

 .insertEquipment {
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
}
 
.insertEquipment.card {
  color: black;
  border: none;
  box-shadow: none;
  left: 35%;
  top: 8%;
}

/* Display Equipment Page */

.displayAdmin table {
  color: black;
  border: none;
  box-shadow: none;
  margin-top: 20px; /* Adjust the margin-top value to push the table lower */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


.overlay .expanded-card {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.overlay .expanded-card .card-header,
.overlay .expanded-card .card-body {
  position: relative;
  z-index: 1;
}

/* Request Borrower*/

.container.reqBorr {
  padding-top: 40px;
}

.container.reqBorr {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.reqBorrBG {
  position: relative;
  margin-top: -40px;
  height: 650px;
}

.reqBorrBG::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/USChome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.35; /* Adjust the opacity to make it darker */
  z-index: -1;
}

.reqBorrBG .container.reqBorr {
  background-color: transparent;
}

.showEquipment {
  margin-top: -170px;
  margin-left: -130px;
  display: flex;
  justify-content: flex-end;
}
 
.showEquipment.card {
  color: black;
  border: none;
  box-shadow: none;
  left: 35%;
  top: 8%;
}

/* Login */
.loggin {
  padding: 10px;
  margin-top: -30px;
}

.logo-logging{
  width: 30%;
  height: auto;
}
