.layout {
  display: grid;
}

/* .navbar {
  background-color: #24272C;
} */

/* Insert Equipment Page */

 .insertEquipment {
  display: flex;
  justify-content: flex-end;
}
 
.insertEquipment.card {
  color: black;
  border: none;
  box-shadow: none;
  margin: auto;
  width: 40vw;
  top: 50px;
}

.insertEquipment.card-body {
  margin: 5px 5px 5px 5px;
}

/* Display Equipment Page */

.displayAdmin table {
  color: black;
  border: none;
  box-shadow: none;
  margin-top: 20px; /* Adjust the margin-top value to push the table lower */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


.overlay .expanded-card {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.overlay .expanded-card .card-header,
.overlay .expanded-card .card-body {
  position: relative;
  z-index: 1;
}

.displayAdmin > Table {
  text-align: center;
}

/* Request Borrower*/

.container.reqBorr {
  margin-top: 10px;
}
