.background-image {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 92.2vh;
  width: 100%;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.gray-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  padding: 5%;
  margin-top: -50px;
}

.usc-logo {
  width: 225px; 
  height: auto; 
  margin-bottom: 5px; 
}

.title {
  font-family: "Monsteratt", sans-serif;
  font-size: 3.75rem;
  color: white;
  z-index: 1;
  text-align: left;
}

.titlechild {
  color: blue;
  font-style: italic;
  font-size: 1.5rem;
  z-index: 2;
  text-align: left;
  text-decoration: underline;
}

/* requestBorrower.js */
.reqBor_container {
  right: 5%;
  margin-top: 6%;
  z-index: 2;
}
