.navbar-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar-item {
  margin-right: 10px;
}

.navbar-link {
  background: none;
  border: none;
  cursor: pointer;
  /* color: blue; */
  text-decoration: underline;
  font-size: 16px;
}

.active {
  box-sizing: border-box;
  font-weight: bolder;
  background-color: #00000016;
  border-radius: 5px;
}

.logo {
  width: 10px;
  /* Adjust the width of the logo div */
  height: 5px;
  /* Adjust the height of the logo div */
}

.logo-image {
  width: 10%;
  height: 10%;
  object-fit: contain;
}

/* .navbar-nav .nav-item {
  margin-right: 25px;
  margin-top: -10px;
  width: 50px;
  height: 30px;
} */

.leftest {
  margin-left: 25px;
}

.custom-navbar > img {
  padding: 5px;
}

.right {
  /* background-color: red; */
  position: absolute;
  right: 0px;
}